<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />

	<link rel="stylesheet" type="text/css" href="static/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<title>Lustro - University Survey System</title>

</head>
<body class="beta">
	<section id="header">

		<nav class="fixed-width fadeInDown wow">
			<a href="/" id="logo"></a>
			<ul class="align-right">
		</nav>

		<div class="title-text text fadeInDown wow">
      <h1>Lustro</h1>
			<h2>Surveys simplified</h2>
			<p>Get what you want to know from the people you want to know.</p>
		</div>
		<img src="static/img/survey.png" class="ui-screenshot fadeInUp wow" alt="Popcorn Time UI">
	</section>

	<div class="container">
		<section id="features" class="fixed-width">
			<div class="clear-fix">
				<article class="fadeInLeft wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Sentiment Analysis</h5>
					<p>Get feedback from your respondents free text questions.</p>
				</article>

				<article class="fadeInRight wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Analysis by Exception</h5>
					<p>Pick up on hidden patterns that may exist in your respondents answers.</p>
				</article>

				<article class="fadeInLeft wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Role-based User Views</h5>
					<p>Limit access to survey data based on user roles.</p>
				</article>

				<article class="fadeInRight wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>No more paper!</h5>
					<p>All surveys are analyzed and answers stored in your database for further use.</p>
				</article>
			</div>
		</section>

		<section id="how">
			<div class="fixed-width fadeInLeft wow">
				<h2>Gathering survey </h2>
				<h4>respones has never been</h4>
				<h4>this easy...</h4>
				<ul class="steps">
					<li class="">Get responses quickly</li>
					<li class="">Understad your needs</li>
					<li class="">Give them what they want</li>
				</ul>
			</div>
			<img src="static/img/survey-short.png" class="ui-screenshot fadeInRight wow" alt="Popcorn Time UI">
		</section>

		<section id="get-app">
			<div class="text fadeIn wow">
				<h2>Simple and easy to use</h2>
				<p>Sign up today!</p>
			</div>
			<ul class="platforms">
				<li class="icon-window fadeInUp wow" data-wow-delay=".2s">
					<small>Linux</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".4s">
					<small>Android</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".6s">
					<small>Apple</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".8s">
					<small>Windows</small>
				</li>
			</ul>
		</section>

		</section>
	</div>
	<script type="text/javascript" src="static/js/wow.js"></script>
	<script type="text/javascript" src="static/js/site.js"></script>
</body>
</html>
