<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />

	<link rel="stylesheet" type="text/css" href="static/css/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<title>Lustro - University Survey System</title>

</head>
<body class="beta">
	<section id="header">

		<nav class="fixed-width fadeInDown wow">
			<a href="/" id="logo"></a>
			<ul class="align-right">
		</nav>

		<div class="title-text text fadeInDown wow">
      <h1>Lustro</h1>
			<h2>Info here</h2>
			<p>Info here</p>
		</div>
		<img src="static/img/survey.png" class="ui-screenshot fadeInUp wow" alt="Popcorn Time UI">
	</section>

	<div class="container">
		<div class="warning fadeIn wow">
			<h5 class="icon-info">Info here</h5>
			<p>Info here</p>
		</div>
		<section id="features" class="fixed-width">
			<div class="clear-fix">
				<article class="fadeInLeft wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Info here</h5>
					<p>Info here</p>
				</article>

				<article class="fadeInRight wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Info here</h5>
					<p>Info here</p>
				</article>

				<article class="fadeInLeft wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Info here</h5>
					<p>Info here</p>
				</article>

				<article class="fadeInRight wow">
					<img src="static/img/icon-placeholder.png" alt="">
					<h5>Info here</h5>
					<p>Info here</p>
				</article>
			</div>
		</section>

		<section id="how">
			<div class="fixed-width fadeInLeft wow">
				<h2>Info here</h2>
				<h4>Info here...</h4>
				<ul class="steps">
					<li class="">Login &amp; Info here</li>
					<li class="">Choose Info here &amp; Info here</li>
					<li class="">Info here &amp; Info here</li>
				</ul>
			</div>
			<img src="static/img/survey-short.png" class="ui-screenshot fadeInRight wow" alt="Popcorn Time UI">
		</section>

		<section id="get-app">
			<div class="text fadeIn wow">
				<h2>Info here</h2>
				<p>Info here</p>
			</div>
			<ul class="platforms">
				<li class="icon-window fadeInUp wow" data-wow-delay=".2s">
					<small>Info here</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".4s">
					<small>Info here</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".6s">
					<small>Info here</small>
				</li>
				<li class="icon-window fadeInUp wow" data-wow-delay=".8s">
					<small>Info here</small>
				</li>
			</ul>
		</section>

		</section>
	</div>
	<script type="text/javascript" src="static/js/wow.js"></script>
	<script type="text/javascript" src="static/js/site.js"></script>
</body>
</html>
