-extends "base.html"

-block content

  #add-lecturer-url
    %a.btn(href="#{url_for('add_lecturer')}") Add Lecturer

  %form(action="#{url_for('notify-students')}")
    %button.btn(type="submit")
      Notify students of surveys.

  %button.btn#plus
    + filter
  %button.btn#minus
    \- filter
  %form#queryform(action="#{url_for('query')}", method="POST")
    %fieldset
      %p.filter
        Look for a:
        %input.property_name(syle="display:inline", type="text", \
        name="property_name0", required="required", \
        placeholder="e.g response")

        with value:

        %select.operator(name="operator0")
          %option(value="eq")
            equal to
          %option(value="lt")
            less than
          %option(value="gt")
            greater than

        %input.property_value(style="display:inline", type="text", \
        name="property_value0", required="required", \
        placeholder="e.g. Jimmy")

    %button.btn(type="submit")
      Search
