-extends "base.html"

-block content
  %h1 Analysis Summary
  %h2 {{ course.name }} taught by {{ lecturer.name }}
  %h3 {{ surveys.count() }} /{{ course.total_students }} Students Finished Survey

  #analysis: %section
    .progress.progress-striped
      .bar(style="width: #{(surveys.count() / course.total_students)*100}%")

  %h3 Rating : 
    #chart

  %table.table(style="border-collapse:collapse;")
    %thead
      %tr 
        %th Question
    %tbody
      -for question in questions|sort(attribute='number')
        -if question.question_type == 'closed'
            %tr.accordion-toggle(data-toggle="collapse", data-target="#target{{ loop.index }}")
              %td {{question.number}}
            %tr
              %td.hiddenRow
                .accordion-body.collapse(id="target{{ loop.index }}")
                  %h2 {{question.number}}
                  %div(id="chartclosed{{question.number}}")


  <script>
    var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    Keen.configure({
        projectId: "5343e251d97b85610e00005c",
        readKey: "26d63e407798e31ae1f114ce7525495a8bbabfe0253d4f6c4ee8d26a83b210157a4b8971f08ab16aba407acf48ee28492dd96a9a6dce124f6853073293080a7f1c39b6783346bb5e9e1ecdf867159d08c089fd15eb4272398e4307fc8474f5ec32850ba1255a1d53b0cd486f75f01a13",
        writeKey: "c7ff13a09bd60bfa3ced64ab963467eaf4cf087a9a032a2704b28813fbe14a9e47e5f3e888fbd3ecc0120708b894e74941dcab0a75751e7fd18f22b86cdd54797e553a8583bfb5751275b2b4668d0ce0ccd0b3a1f71c3a8d54369e5000b3ce6f090a64d2c88d10ec214e1bc4bf15b806"
    });

    Keen.onChartsReady(function() {
      var metric = new Keen.Metric("answers", {
        analysisType: "average",
        targetProperty: "response",
        filters: [{"property_name":"course_key","operator":"eq","property_value":"#{class_key}"}]
      });
      metric.draw(document.getElementById("chart"));
    });

    -for question in questions
      -if question.question_type == 'closed'
        Keen.onChartsReady(function() {
          var metric = new Keen.Metric("answers", {
            analysisType: "count",
            targetProperty: "response",
            groupBy: "response",
            filters: [{"property_name":"question_number","operator":"eq", "property_value":#{question.number}},{"property_name":"course_key","operator":"eq","property_value":"#{class_key}"}]
          });
          metric.draw(document.getElementById("chartclosed{{question.number}}"));
        });
  </script>
