-extends "base.html"

-block content
    %h1 Analysis Summary
    %h2 {{ course.name }} taught by {{ lecturer.name }}
    %h3 {{ surveys.count() }} /{{ course.total_students }} Students Finished Survey

    #analysis: %section
      .progress.progress-striped
        .bar(style="width: #{ surveys.count() / course.total_students}%")