-extends "base.html"

-block content
    %h1 Analysis Summary
    %h2 {{ survey.name }}
    %h3 {{ survey.studentsparticipated }} /{{ survey.totalstudentstaking }} Students Finished Survey

    #analysis: %section
      .progress.progress-striped
        .bar(style="width: {{ survey.progress }}")

    %h3 Rating : {{ survey.rating }}

    %table.table(style="border-collapse:collapse;")

      %thead
        %tr
          %th Question
          %th Average Rating

    -for question in questions
      -if question.type == closed
            %tbody
              %tr.accordion-toggle(data-toggle="collapse", data-target="#target{{ loop.index }}")
                %td {{ question.question }}
                %td {{ question.responseAvg }}

              %tr
                %td.hiddenRow(colspan="2")
                  #target{{ loop.index }}.accordion-body.collapse
                    .row: .offset3.span6.chart
                      #chart_div{{ loop.index }}
                        %script
                          function drawChart{{ loop.index }}() {

                            // Create the data table.
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Rating');
                            data.addColumn('number', 'Response');
                            data.addRows([
                              ['1', {{ question.question.rating1total }}],
                              ['2', {{ question.question.rating2total }}],
                              ['3', {{ question.question.rating3total }}],
                              ['4', {{ question.question.rating4total }}],
                              ['5', {{ question.question.rating5total }}]
                            ]);

                            // Set chart options
                            var options = {'title':'{{ question.question }}',
                                           'width':600,
                                           'height':300};

                            // Instantiate and draw our chart, passing in some options.
                            var chart = new google.visualization.PieChart(document.getElementById('chart_div{{ loop.index }}'));
                            chart.draw(data, options);
                          }

                    .row
                      .span10
                        %table.table
                          %thead
                            %tr
                              %th Rating
                              %th Repsonses
                              %th Total
                          %tbody
                            %tr
                              %td 1
                              %td {{question.question.rating1percentage}}
                              %td {{question.question.rating1total}}
                            %tr
                              %td 2
                              %td {{question.question.rating2percentage}}
                              %td {{question.question.rating2total}}
                            %tr
                              %td 3
                              %td {{question.question.rating3percentage}}
                              %td {{question.question.rating3total}}
                            %tr
                              %td 4
                              %td {{question.question.rating4percentage}}
                              %td {{question.question.rating4total}}
                            %tr
                              %td 5
                              %td {{question.question.rating5percentage}}
                              %td {{question.question.rating5total}}
                            %tr
                              %td Total
                              %td
                              %td {{survey.totalanswered}}

      -if question.type == open
            %tbody
              %tr.accordion-toggle(data-toggle="collapse", data-target="#target{{ loop.index }}")
                %td {{ question.question }}
                %td {{ question.responseAvg }}

              %tr
                %td.hiddenRow(colspan="2")
                  #target{{ loop.index }}.accordion-body.collapse
                    .row: .offset3.span6.chart
                      #chart_div{{ loop.index }}
                        %script
                          function drawChart{{ loop.index }}() {

                            // Create the data table.
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Rating');
                            data.addColumn('number', 'Response');
                            data.addRows([
                              ['Negative', {{ question.question.negativeratingtotal }}],
                              ['Partly Negative', {{ question.question.negativeratingtotal }}],
                              ['Neutral', {{ question.question.negativeratingtotal }}],
                              ['Partly Positive', {{ question.question.negativeratingtotal }}],
                              ['Positive', {{ question.question.negativeratingtotal }}]
                            ]);

                            // Set chart options
                            var options = {'title':'{{ question.question }}',
                                           'width':600,
                                           'height':300};

                            // Instantiate and draw our chart, passing in some options.
                            var chart = new google.visualization.PieChart(document.getElementById('chart_div{{ loop.index }}'));
                            chart.draw(data, options);
                          }

                    .row
                      .span10
                        %table.table
                          %thead
                            %tr
                              %th Rating
                              %th Repsonses
                              %th Total
                          %tbody
                            %tr
                              %td Negative
                              %td {{question.question.negativeratingpercentage}}
                              %td {{question.question.negativeratingtotal}}

                            %tr
                              %td Partly Negative
                              %td {{question.question.partlynegativeratingpercentage}}
                              %td {{question.question.partlynegativeratingtotal}}

                            %tr
                              %td Neutral
                              %td {{question.question.neutralratingpercentage}}
                              %td {{question.question.neutralratingtotal}}

                            %tr
                              %td Partly Positive
                              %td {{question.question.partlypositivepercentage}}
                              %td {{question.question.partlypositiveratingtotal}}

                            %tr
                              %td Positive
                              %td {{question.question.positivepercentage}}
                              %td {{question.question.positivetotal}}

                            %tr
                              %td Total
                              %td
                              %td {{survey.totalanswered}}


  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    -for question in questions
      google.setOnLoadCallback(drawChart{{ loop.index }});

  </script>

