-extends "base.html" 

-block content

  %h3 Hello Lecturer.

  %h4 Here the analytics for courses taught

  %ul
    %li
      %a
        COMP 3900 - Group Project
    %li
      %a
        COMP 2300 - Some Course
    %li
      %a
        COMP 3100 - Some Course
    %li
      %a
        COMP 2900 - Some Course
