-extends "base.html"

-block content

  %h3 Hello Lecturer.

  %h4 Here the analytics for courses taught

  .center
    %table.table
      %thead
        %tr
          %th Course Code
          %th Course Title
          %th Course Faculty
          %th Course Department
          %th Course Survey Completion
      %tbody
        %tr
          %td 
            %a(href="#") COMP3900
          %td Group Project
          %td Pure And Applied
          %td Computer Science
          %td 
            .progress.progress-striped.active
              .bar(style="width: 0%")
        %tr
          %td 
            %a(href="#") COMP2900
          %td Some Course
          %td Pure And Applied
          %td Computer Science
          %td 
            .progress.progress-striped.active
              .bar(style="width: 0%")
        %tr
          %td 
            %a(href="#") COMP2900
          %td Some Course
          %td Pure And Applied
          %td Computer Science
          %td 
            .progress.progress-striped.active
              .bar(style="width: 0%")
        %tr
          %td 
            %a(href="#") COMP2900
          %td Some Course
          %td Pure And Applied
          %td Computer Science
          %td 
            .progress.progress-striped.active
              .bar(style="width: 0%")
