-extends "base.html" 

-block content
  #login
    .row
      .span5.offset3.login-box.well
        %h3.center Login

        -if error
          .alert.alert-error
              #{error}

        %form#login-form(action="#{url_for('login')}", method="POST")
          %input#redirect(type="hidden", name="redirect", \
                          value="")

          #{form.csrf_token}

          %input#username(type="text", name="username", required="required", \
                          value="", \
                          placeholder="Username")

          %input#password(type="password", name="password", \
                          required="required", placeholder="Password", \
                          autocomplete="off")

          .button-container.center
            %button#login.btn.login(type="submit")
              %i.icon-lock"
              &nbsp;
              Login
