-extends "base.html"

-block content
   %h3 Populate database

    %form(action="#{url_for('populate_upload')}", method="POST", enctype="multipart/form-data") 
      %label(for="file") JSON File
      %input(type="file", name="file")

      #submit-button
        %button(type="submit") Upload
