-extends "base.html"

-block content
   #select-password
    .row
      .span5.offset3.set-password-box.well
        %h3.center Set Password

        %form#set-password-form(action="#{url_for('validate')}", method="POST")
          %input#redirect(type="hidden", name="user_key", \
            value="#{user.key.urlsafe()}")

          %input#password(type="password", name="password", \
                          required="required", placeholder="Password", \
                          autocomplete="off")

          .button-container.center
            %button#set-password.btn.login(type="submit")
              %i.icon-lock"
              &nbsp;
              Set Password
