-extends "base.html"

-block content

  #student-home
    %h3 Hello #{student.name}.

    %h4 Here are surveys for your courses

    -for course in courses
      %ul
        %li
          %a(href="#{url_for('survey', course_key=course.key.urlsafe())}")
            {{ course.course.get().name }} - \
            Department of {{ course.course.get().department.get().name  }} -\
            Faculty of {{ course.course.get().faculty.get().name  }}


    -if completed
      %h4 Completed surveys
        %ul
          -for course in completed
            %li
              %a(href="#{url_for('analysis', class_key=course.key.urlsafe())}")
                #{course.course.get().name}
