-extends "base.html"

-block content

  #student-home
    %h3 Hello #{student.name}.

    %h4 Here are surveys for your courses

    -for course in courses
      %ul
        %li
          %a(href="#{url_for('survey', course_key=course.key.urlsafe())}")
            {{ course.course.get().name }}


    #course-list
      %input.search(type="text", placeholder="Search Course")
      .pagination
        %ul.pagination-list
      %ul.list
        -for class in all_classes
          %li
            %h4.course
              {{ class.course.get().name }}



-block scripts
  %script(src="/static/js/list.min.js")
  %script(src="/static/js/list.pagination.min.js")
  %script
    var options = new List('course-list', {
      valueNames: ['course'],
      page: 3,
      plugins: [ ListPagination({}) ]
    });
