-extends "base.html"

-block content

  %h3 Hello Student.

  %h4 Here are surveys for your courses

  %ul
    %li
      %a(href="#{url_for('studenthome')}")
        COMP 3900 - Group Project
    %li
      %a
        COMP 2300 - Some Course
    %li
      %a
        COMP 3100 - Some Course
    %li
      %a
        COMP 2900 - Some Course


  %form(action="", method="POST")
    %label.control-label(for="search")
      Search for course analysis and reviews
    %input.form-control(type="text", class="form-control", id="search", \
                        placeholder="Lecturer Name/Course Code")



  #searchresultshere
