-extends "base.html"

-block content
  #survey: %section
    .progress.progress-striped.active
      .bar(style="width: 0%")
    %div
      %form(action="{{url_for('survey')}}", method="POST")
        -for question in questions| sort(attribute='number')
          -if question.question_type == 'closed'
            .row
              .formgroup.span10
                %label.control-label(for="{{question.key.urlsafe()}}")
                  {{question.question}}

                -for n in range(1, question.max_scale + 1)
                  %label.radio.inline 
                    %input(type="radio", name="{{question.key.urlsafe()}}", value="#{n}") 
                    #{n} 

          -if question.question_type == 'open'
            .row
              .formgroup.span10
                %label.control-label(for="{{question.key.urlsafe()}}")
                  {{question.question}}
                %input.form-control(type="text", class="form-control", name="{{question.key.urlsafe()}}")

        .row
          .form-group.span10
            %button(type="submit", class="btn btn-default") Submit

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>
    $(":radio").change(function() {

      var names = {};
      $(':radio').each(function() {
          names[$(this).attr('name')] = true;
      });

      var count = 0;
      $.each(names, function() { 
          count++;
      });

      length = $(':radio:checked').length;
      $(".bar").css('width', length/count*100 + '%');

    }).change();


  </script>
