-extends "base.html"

-block content
  #survey: %section
    .progress.progress-striped.active
      .bar(style="width: 0%")

    %form(action="{{url_for('survey', course_key=course.key.urlsafe())}}", method="POST")

      #slider-wrapper: #slider
        -for dimension, grouped_questions in questions| groupby('dimension')
          .slide
            .row.dimension: .span12.center
              %h3 {{ dimension[2:] }}

            -for question in grouped_questions | sort(attribute='number')
              -if question.question_type == 'closed'
                .row(class="{{ loop.cycle('well', 'well-alt') }}")
                  .formgroup.span12
                    %label.control-label(for="{{question.key.urlsafe()}}")
                      #{question.number}.#{question.question}

                    -for n in range(1, question.key.parent().get().max_scale + 1)
                      %label.radio.inline
                        %input(type="radio", name="{{question.key.urlsafe()}}", value="#{n}")
                        #{n}


              -if question.question_type == 'open' or question.question_type == 'peer'
                .row.well-alt
                  .formgroup.span12
                    %label.control-label(for="{{question.key.urlsafe()}}")
                      {{question.question}}
                    %input.open.form-control(type="text", class="form-control", name="{{question.key.urlsafe()}}")
            -if loop.last
              .row
                .center
                  #submit-button.form-group.span12
                    %button(type="submit", class="btn btn-default") Submit

            #nav
            -if not loop.first and not loop.last
              .button-previous.btn Prev
              .button-next.btn Next
            -if loop.first
              .button-next.btn Next
            -if loop.last
              .button-previous.btn Prev

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>
    $(":radio").change(function() {

      var names = {};
      $(':radio').each(function() {
          names[$(this).attr('name')] = true;
      });

      var count = 0;
      $.each(names, function() {
          count++;
      });

      length = $(':radio:checked').length;
      $(".bar").css('width', length/count*100 + '%');

    }).change();

    $(document).ready(function(){
      $('.slide').first().addClass('active');
      $('.slide').hide();
      $('.active').show().css("z-index","100");

      $('.button-next').click(function(){
        $('.active').removeClass('active').addClass('oldActive');
        $('.oldActive').next().addClass('active');
        $('.oldActive').removeClass('oldActive');
        $('.slide').hide();
        $('.slide').css("z-index","-100");
        $('.active').show();
        $('.active').css("z-index","100");
      });

      $('.button-previous').click(function(){
        $('.active').removeClass('active').addClass('oldActive');
        $('.oldActive').prev().addClass('active');
        $('.oldActive').removeClass('oldActive');
        $('.slide').hide();
        $('.slide').css("z-index","-100");
        $('.active').show();
        $('.active').css("z-index","100");
      });
    });
  </script>
