-extends "base.html"

-block content
  #survey: %section
    .progress.progress-striped.active
      .bar(style="width: 0%")
    %div
      %form(action="", method="POST")
        .row
          .formgroup.span10
              %label.control-label(for="1")
                The lecturer arrived on time for classes
              %label.radio.inline
                %input(type="radio", name="1", value="1")
                1
              %label.radio.inline
                %input(type="radio", name="1", value="2")
                2
              %label.radio.inline
                %input(type="radio", name="1", value="3")
                3
              %label.radio.inline
                %input(type="radio", name="1", value="4")
                4
              %label.radio.inline
                %input(type="radio", name="1", value="5")
                5
        .row
          .formgroup.span10
              %label.control-label(for="2")
                The lecturer arrived on time for classes
              %label.radio.inline
                %input(type="radio", name="2", value="1")
                1
              %label.radio.inline
                %input(type="radio", name="2", value="2")
                2
              %label.radio.inline
                %input(type="radio", name="2", value="3")
                3
              %label.radio.inline
                %input(type="radio", name="2", value="4")
                4
              %label.radio.inline
                %input(type="radio", name="2", value="5")
                5
        .row
          .formgroup.span10
            %label.control-label(for="26")
              What did you like best about this course?
            %input.form-control(type="text", class="form-control", id="27")

        .row
          .form-group.span10
            %button(type="submit", class="btn btn-default") Submit

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      $(":radio").change(function() {

        var names = {};
        $(':radio').each(function() {
            names[$(this).attr('name')] = true;
        });

        var count = 0;
        $.each(names, function() {
            count++;
        });

        length = $(':radio:checked').length;
        $(".bar").css('width', length/count*100 + '%');

      }).change();


    </script>
