
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */

#analysis #response-link {
  margin-top: 10px;
  margin-bottom: 5px;
}

#admin-home .tab-pane#queries .btn-group {
  margin-bottom: 15px;
}

body {
  background-image: url(/static/img/congruent_outline.png)
}

.seperator {
  margin-bottom: 50px
}

#body_content {
   min-height: 500px;
   height:auto !important;
   height: 500px;

  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.center {text-align: center;}

#login input {
  border-radius: 3px;
  font-size: 16px;
  width: 96%;
  margin-bottom: 16px;
  height: 27px;
  color: black;
}

#login button.login {
  color: #fff;
  background: #187CCC;
  font-size: 15px;
  margin: 0 auto;
  display: inline-block;
  padding: 6px 19px;
  border: 0 none;
}

#signup input {
  border-radius: 3px;
  font-size: 16px;
  width: 96%;
  margin-bottom: 16px;
  height: 27px;
  color: black;
}

#signup button {
  color: #fff;
  background: #187CCC;
  font-size: 15px;
  margin: 0 auto;
  display: inline-block;
  padding: 6px 19px;
  border: 0 none;
}

#survey .progress {
  position: fixed;
  margin-left: -50px;
  width: 90%;
  height: 3px;
  right: 5%;
  top: 41px;
}

#survey .row {
  margin-left: 0px;
}

#survey .well-alt {
  padding: 19px;
}

#survey .dimension {
  color: white;
  padding-bottom: 19px;
  padding-top: 19px;
  background-color: #1886BE;
  margin-top:19px;
  margin-bottom: 19px;
  border-radius: 2px;
}

#survey .dimension [class*="span"] {
  margin-left: 0px;
}

#survey input.open {
  width:60%;
}

#survey #submit-button {
  margin-left: 0px;
}

#survey .slide {
  height:100%;
  position: relative;
  z-index: -100;

}
#survey .button-previous {
  float:left;
}
#survey .button-next {
  float:right;
}

#student-home ul.list {
  list-style-type: none;
}

#student-home #course-list{
  margin-top: 80px;
}

#student-home #course.course{
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

td.hiddenRow {
    padding: 0 !important;
}
