-extends "email/email_base.html"

-block title
  Survey

-block content
  %div(style="margin-top: 15px")
    Dear {{ student.name }},
  %div(style="margin-top: 15px")
    Please be advised that the Lecturer and Course Evaluations for the academic year 2014/2015 is now available online. Please complete as soon as possible. This is for a final year project. Thank you for your cooperation.

  %div(style="margin-top: 15px")
    You may
    %a(href="http://lustro-app.appspot.com/signup")
      click here
    to access the evaluations.
  %div(style="margin-top: 15px")
    Regards,
    ! Authority Figure
