.navbar.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse", data-target="#navigationbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand(href="/") Lustro
      #navigationbar.nav-collapse
        %ul.nav
          %li
            %a(href="{{ url_for('login') }}") Login
